:root {
    --bg-darkly: #d9e3f1;
    --bs-gradient: linear-gradient(to right, #a84170, rgba(255, 255, 255, 0));
    --nav-gradient: linear-gradient(to right, rgba(255, 255, 255, 0), #a84170);
    --twitter: #1da1f2;
    --linkedin: #0077b5;
    --github: white;
    --color-primary: #e83283;
    --color-secondary: #a84170;
    --color-success: #41da7a;
    --color-indigo: #6610f2;
    --color-info: #39cbfb;
    --color-danger: #fd7e14;
    --color-warning: #ffc107;
    --background: #1a1919;
    --bg: #090a11;
    --bg-blue: #07070f;
}
html,
body {
    /* background: #070305; */
    height: 100vh;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.quickToast {
    border-radius: 12px;
    border: 2px solid var(--color-success);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
    color: white;
}
.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    border-radius: 0em;
    box-shadow: none;
}
.nv-icon {
    font-size: 30px;
    color: var(--color-primary);
}
nav {
    /* background: linear-gradient(to right, #00f260, #0575e6, #00f260);  */
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-indigo));
    /* background-size: 300% 300%;
    animation: gradient 12s ease infinite; */
}
.nav-link {
    font-size: 1.2em;
    font-weight: 600 ;
    color: white ;
    margin: 0 8px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    /* background: rgba(251, 251, 251, 0.582); */
    box-shadow: 0 18px 50px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
}

.myNav {
    background: var(--bg-blue);
}

.intro-header {
    margin: 30px 0;
}
.typed-header {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-success);
    margin-bottom: 1rem;
}
/* Typed text */
.typed-text {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-indigo);
    text-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
}

.card-title {
    font-weight: 500;
    font-size: 1.25rem;
}
.card-img-overlay  {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.cd-img {
    border-radius: 8px;
}
.p-card {
    background: transparent;
}
  
.row-content {
    padding: 50px 0;
    /* border-bottom: 1px ridge; */
    min-height: 200px;
}
.formHolder {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
}

.contactMe:hover {
    background: var(--color-success);
    transition: .2s ease-in-out;
    border: 1px solid var(--colo-success);
}

/* Contact */
.title {
    padding: 20px 0;
    text-shadow: transparent 0 0 0.5em;
}

.contactInput,
.contactInput:focus {
    border-radius: 5px;
    outline: none;
}

.contactText {
    font-size: 18px;
}
.envelope {
    font-size: 22px;
}
.phone {
    font-size: 24px;
}

.social-ul {
background: transparent;
}

.social-ul li a {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0;
    background: none;
}
.list-group-item {
    background: transparent;
}
#social-list {
    background: transparent;
} 
.social-link {
    fill: white ;
    border: 1px solid white;
}
.social:hover {
    background: var(--color-primary);
    box-shadow: inset 5px 5px 10px #b52766,
            inset -5px -5px 10px #ff3da0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px double rgba(255, 255, 255, 0.18); */
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    font-size: 120%;
}
.linkedin:hover {
    color: var(--linkedin);
    
}
.github:hover {
    color: var(--github);
}
.twitter:hover {  
    color: var(--twitter);
}
.sendBtn {
    /* font-size: 16px; */
    background: transparent;
}

.sendBtn:hover {
    background: var(--color-primary);
    box-shadow: inset -25px -5px 20px #b52766,
        inset -55px -5px 20px rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px double rgba(255, 255, 255, 0.18);
    -webkit-transition: all 1s ease;
    transition: all .45s ease;
    font-size: 105%;
}

/* Projects */
.modal-backdrop {
    background-color: transparent;
}


footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    text-align: center;
    
    
    /* position: fixed; */
}

@media screen and (min-width: 992px) {
    .title {
        padding: 75px 0
    }
}